
@{
    ViewBag.Title = "BuscarAlumno";
}

<h2>BuscarAlumno</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Codigo")
        @Html.TextBox("codigo", "", new { @class = "form-control" })
        <button id="btnBuscar" type="button" class="btn btn-primary">Buscar</button>
    </div>
    <div class="form-group">
        @Html.Label("Descripción")
        @Html.TextBox("descripcion", "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Precio")
        @Html.TextBox("precio", "", new { @class = "form-control" })
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
           $("#btnBuscar").on("click",function () {

               var codigo = $("#Dni").val();

               $.ajax({
                   method: "GET",
                   url: "/Producto/BuscarProductoByCodigo?codigo="+codigo
               }).done(function( result ) {
                   if (result.success === true) {
                       alert("El Producto existe..!!");
                       $("#descripcion").val(result.data.Nombres);
                       $("#precio").val(result.data.Apellidos);
                   }
                   else
                   {
                     alert("El Producto no existe..!!");
                   }
               });
           });
        });
    </script>
}
